<div class="content">
  <div class="container">
    <h1>Dates et lieux des évènements à venir</h1>
    <ul class="list-group list-group-flush">
      <li class="list-group-item list-group-item-heading">Week-end Spark</li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Paris | 20 octobre 2018
        <button class="btn btn-success">En savoir plus</button>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Montréal | 10 novembre 2018
        <button class="btn btn-success">En savoir plus</button>
      </li>
    </ul>
  </div>
</div>
