<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-5 offset-lg-7 offset-xl-7 col-xl-5 col-md-8 col-sm-12 visible-lg visible-md">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title"><u>A propos de FRANK</u></h2>
            <div class="card-text">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus ullam enim atque veniam? Blanditiis
                ipsam
                quis
                officiis, saepe illo magnam. Provident inventore ipsa dolorum quisquam neque nostrum quod quidem
                repellendus.</p>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus ullam enim atque veniam? Blanditiis
                ipsam
                quis
                officiis, saepe illo magnam. Provident inventore ipsa dolorum quisquam neque nostrum quod quidem
                repellendus.</p>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus ullam enim atque veniam? Blanditiis
                ipsam
                quis
                officiis, saepe illo magnam. Provident inventore ipsa dolorum quisquam neque nostrum quod quidem
                repellendus.</p>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus ullam enim atque veniam? Blanditiis
                ipsam
                quis
                officiis, saepe illo magnam. Provident inventore ipsa dolorum quisquam neque nostrum quod quidem
                repellendus.</p>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus ullam enim atque veniam? Blanditiis
                ipsam
                quis
                officiis, saepe illo magnam. Provident inventore ipsa dolorum quisquam neque nostrum quod quidem
                repellendus.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
