<div class="content">
  <div class="header">
    <div class="overlay"></div>
    <div class="header-stuff">
      <h1>évènements</h1>
    </div>
  </div>
  <div class="main-content">
    <div class="container">
      <h2 class="text-center">Des évènements hors du commun</h2>
      <p>Depuis les 15 dernières années, les milliers de personnes qui ont assisté à ses conférences ou à ses
        séminaires dans plus de 10 pays aiment appeler le conférencier Frank HERELLE le « coach des coachs ». Expert
        du leadership et de la performance des entreprises, ses exemples percutants et son processus pédagogique lui
        permettent de rejoindre tout type d’audiences. Ses participants ou ses clients vous le diront : le contenu de
        ses conférences est accessible, riche en outils, interactif et ludique. En tant que conférencier et motivateur
        Frank HERELLE a le talent d’inviter chaque participant en dehors de sa zone de connaissance pour accélérer sa
        progression.</p>
      <iframe src="//player.vimeo.com/video/19339941" frameborder="0" webkitallowfullscreen mozallowfullscreen
        allowfullscreen></iframe>
    </div>
  </div>
  <app-event-schedule></app-event-schedule>
</div>
