<div class="content">
  <div class="header">
    <div class="overlay"></div>
    <div class="container header-stuff">
      <h1>Entrepreneurs : comment valider son idée de business</h1>
      <p id="description">Vous avez une idée d’un business qui pourra vous rendre millionnaire en un rien de temps ?
        Que
        faut-il en faire
        maintenant ? Cet article tentera de vous présenter les principales facettes d’un modèle d’entreprise qui
        réussit
        afin de vous aider à vous convaincre que votre idée « de démarrage » a du sens avant de commencer. </p>
      <button class="btn btn-outline-light">Lire la suite</button>
    </div>
  </div>
  <div class="blog-container">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 items">
          <div class="item">
            <app-blog-item isNew="0"></app-blog-item>
          </div>
          <div class="item">
            <app-blog-item isNew="0"></app-blog-item>
          </div>
          <div class="item">
            <app-blog-item isNew="0"></app-blog-item>
          </div>
        </div>
        <div class="col-lg-4 category">
          <div class="card">
            <div class="card-body">
              <h3>Catégories</h3>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="">Cras justo odio</a></li>
                <li class="list-group-item"><a href="">Cras justo odio</a></li>
                <li class="list-group-item"><a href="">Cras justo odio</a></li>
                <li class="list-group-item"><a href="">Cras justo odio</a></li>
                <li class="list-group-item"><a href="">Cras justo odio</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
