<app-main-event></app-main-event>
<div class="container-fluid">
  <div class="row">
    <app-service-item class="col-lg-4 col-xl-4 col-md-4 col-sm-12 col-xs-12 m-0 p-0" background='../../../assets/media/formation.jpg'
      title='formations'></app-service-item>
    <app-service-item class="col-lg-4 col-xl-4 col-md-4 col-sm-12 col-xs-12 m-0 p-0" background='../../../assets/media/event.jpeg'
      title='évènements'></app-service-item>
    <app-service-item class="col-lg-4 col-xl-4 col-md-4 col-sm-12 col-xs-12 m-0 p-0" background='../../../assets/media/coaching.jpeg'
      title='coaching'></app-service-item>
  </div>
</div>
<app-home-about></app-home-about>
<app-testimonials></app-testimonials>
<app-latest-article></app-latest-article>
