<div class="content">
  <div class="header">
    <div class="overlay"></div>
    <div class="header-stuff">
      <div class="container">
        <h1>Formations</h1>
        <h4>lorem ipsum</h4>
      </div>
    </div>
  </div>
  <div class="container-fluid words">
    <div class="row">
      <div class="col-lg-5 col-xl-5 col-md-3 col-sm-12 col-xs-12 visible-xs">
        <div class="container img-words">
          <img src="../../../assets/media/home.jpeg" class="img-fluid circled" alt="">
        </div>
      </div>
      <div class="col-lg-7 col-xl-7 col-md-9 col-sm-12 col-xs-12 text-justify text-words">
        <p>« Les Formations Frank HERELLE sont le résultat de plus de 25 ans de travail et de recherche. Elles ont été
          créées pour vous permettre d’élever votre vie au niveau supérieur, au travers différents programmes de
          formation riches en contenus.
        </p>
        <p> Chaque année, des milliers d’étudiants de part le Monde suivent nos formations, dans le but d’enrichir leur
          vie, développer leur leadership et devenir la meilleure version d’eux-mêmes. Comme eux, joignez-vous à nous
          et devenez unstoppable ! »</p>
      </div>
    </div>
  </div>
  <div class="formation-container">
    <div class="container-fluid">
      <div class="row no-gutters">
        <div class="col-lg-6">
          <app-formation-card title="Programme Spark" image="../../../assets/media/shop.jpg" description="Une année de formation et de coaching en ligne pour une transformation totale ! Notre formation la plus complète !"
            url="www.google.com"></app-formation-card>
        </div>
        <div class="col-lg-6">
          <app-formation-card title="Programme Spark" image="../../../assets/media/coaching.jpeg" description="Une année de formation et de coaching en ligne pour une transformation totale ! Notre formation la plus complète !"
            url="www.google.com"></app-formation-card>
        </div>
        <div class="col-lg-6">
          <app-formation-card title="Programme Spark" image="../../../assets/media/event.jpeg" description="Une année de formation et de coaching en ligne pour une transformation totale ! Notre formation la plus complète !"
            url="www.google.com"></app-formation-card>
        </div>
        <div class="col-lg-6">
          <app-formation-card title="Programme Spark" image="../../../assets/media/formation.jpg" description="Une année de formation et de coaching en ligne pour une transformation totale ! Notre formation la plus complète !"
            url="www.google.com"></app-formation-card>
        </div>
      </div>
    </div>
  </div>
  <app-testimonials></app-testimonials>
</div>
