<div class="card">
  <div class="card-body">
    <h3>Tableau de bord</h3>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 col-xl-6">
          <div class="stats-commandes">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Mes commandes</h4>
                <ul class="list-group list-group-flush">
                  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">List group item</h5>
                      <small>3 days ago</small>
                    </div>
                    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget
                      risus varius blandit.</p>
                    <small>Donec id elit non mi porta.</small>
                  </a> <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">List group item</h5>
                      <small>3 days ago</small>
                    </div>
                    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget
                      risus varius blandit.</p>
                    <small>Donec id elit non mi porta.</small>
                  </a>
                  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">List group item</h5>
                      <small>3 days ago</small>
                    </div>
                    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget
                      risus varius blandit.</p>
                    <small>Donec id elit non mi porta.</small>
                  </a>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 col-xl-6">
          <div class="stats-formations">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Mes formations</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
