<div class="content">
  <div class="header">
    <div class="overlay">
    </div>
    <div class="header-stuff">
      <h1>Coaching</h1>
      <h4>Nos formules de coaching sur mesure</h4>
    </div>
  </div>
  <div class="main-content">
    <p class="message">Un Coach pour vous orienter vers la réussite! Apprenez comment définir vos priorités, créer un
      plan d’action et augmenter vos résultats. Une opportunité unique de développer votre vie, vos relations, vos
      affaires, votre réseau, votre performance et votre équilibre. Nous proposons différentes formules de Coaching.
      Elles s’adressent à tous, particuliers, entrepreneurs, grandes entreprises, propriétaires, et sont adaptées à vos
      besoins.</p>
    <div class="container-fluid">
      <div class="row">
        <app-service-item description="Devenez la meilleure version de vous grâce aux séances de coaching personnel avec un coach professionnel certifié !"
          class="col-lg-4 col-xl-4 col-md-4 col-sm-12 col-xs-12 m-0 p-0" background='../../../assets/media/formation.jpg'
          title="J'ai mon coach"></app-service-item>
        <app-service-item description="Un véritable investissement sur les plans humain, stratégique et financier pour améliorer la performance de vos équipes."
          class="col-lg-4 col-xl-4 col-md-4 col-sm-12 col-xs-12 m-0 p-0" background='../../../assets/media/event.jpeg'
          title='Entreprises'></app-service-item>
        <app-service-item description="Un véritable investissement sur les plans humain, stratégique et financier pour améliorer votre performance."
          class="col-lg-4 col-xl-4 col-md-4 col-sm-12 col-xs-12 m-0 p-0" background='../../../assets/media/coaching.jpeg'
          title='Coaching privé'></app-service-item>
      </div>
    </div>
    <app-testimonials></app-testimonials>
  </div>
</div>
