.header {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../../../assets/media/coaching.jpeg);
  background-size: cover;
  color: white;
  text-align: center;
}

.header-stuff {
  z-index: 2;
}

.overlay {
  top: 0;
  height: 80vh;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  position: absolute;
  background-color: rgba(0, 0, 0, .5);
}

.message {
  padding: 100px;
  text-align: justify;
}

.header h1 {
  text-transform: uppercase;
  font-family: "Averta Black";
  font-size: 4em;
}
