<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4">
      <!-- <img src="../../../assets/media/coaching.jpeg" alt="" class="icon"> -->
      <h5>Frank HERELLE</h5>
      <br>
      <p>CP 486875 (OutreMont)</p>
      <p>Montréal, (Québec) H2V 1L0</p>
      <br>
      <p>Canada</p>
    </div>
    <div class="col-lg-2">
      <h5>formation</h5>
      <ul>
        <li>Formation 1</li>
        <li>Formation 2</li>
      </ul>
    </div>
    <div class="col-lg-2">
      <h5>évènements</h5>
      <ul>
        <li>Formation 1</li>
        <li>Formation 2</li>
      </ul>
    </div>
    <div class="col-lg-2">
      <h5>coaching</h5>
      <ul>
        <li>Formation 1</li>
        <li>Formation 2</li>
      </ul>
    </div>
    <div class="col-lg-2">
      <h5>HERELLE</h5>
      <ul>
        <li>Blog</li>
        <li>Nous joindre</li>
        <li>A propos</li>
      </ul>
    </div>
  </div>
  <div class="subrow">
    <p><sup class="fa fa-trademark"></sup> Groupe Frank HERELLE Inc. - <span>Condition générales de vente</span></p>
  </div>
</div>
